.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tableBorder{
  border: 5px;
  border-color: white;
  padding: 5px;
}

.tableBorder:hover{
background-color: lightgray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.scrollDiv{
  overflow-y: scroll;
  height: 70vh;
}

.greenAmount{
  background-color: rgba(73, 212, 73, 0.377);
}


.redAmount{
  background-color: rgb(230, 80, 80);
}